// section-3 button
.holder-3-button {
    border: 1px solid #89ca89;
    background-color: #89ca89;
    color: $white;
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px;
    transition: background 0.3s ease-in-out;

    &:hover {
        background-color: #5ab55a;
    }
}